<dict>
    <key>UIAppFonts</key>
    <array>
        <string>Outfit-Medium.ttf</string>
        <string>Outfit-Regular.ttf</string>
    </array>

    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>msauth.AU.AU-Journey</string>
            </array>
        </dict>
    </array>

    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>msauthv2</string>
        <string>msauthv3</string>
    </array>
</dict>
